@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@200&display=swap");

body {
      font-family: "Raleway", sans-serif;
}

button {
      width: 280px;
      background-color: royalblue;
      color: white;
      font-size: 15px;
      text-align: center;
      padding: 5px;
      border-radius: 8px;
}

button:hover {
      background-color:  yellowgreen;
      color: black;
      font-weight: bold;
}

.game-card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 7px;
      /* width: 18%; */
      margin-top:  35px;
      margin-left: 10%;
      margin-right: 10%;
      height: auto;
}

.game-board {
      /* background-image: url(./images/klemen-vrankar-FPSrDsq5i20-unsplash.jpg); */
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 50px;
      padding-bottom: 30px;
}


/* .headers {
      display: flex;
      flex-direction: row;
} */

.s, .t, .e, .m {
      /* grid-column: 1/2; */
      background-color: #f9b462;
      color: navy;
      height: 100px;
      padding-top: 20px;
      width: 98%;
      font-weight: bolder;
      font-size: 85px;
      border-radius: 8px;
      border-top:  3px solid navy;
      border-left: 3px solid navy;
      border-right: 7px solid navy;
      border-bottom: 10px solid navy;
      /* position: fixed; */
}


.question-text {
      padding: 8px;
      background-color: #f9b462;
      font-size: 15px;
      /* background-image: linear-gradient(to bottom right, #83eaf1, #63a4ff);  */
      /* background-image: url(https://media.istockphoto.com/photos/abstract-gold-swirl-holiday-christmas-background-picture-id1171702605?b=1&k=20&m=1171702605&s=170667a&w=0&h=_rewhrEnSmynxB93rq0AUK-fznNK4fSwTI0iQjQx6Uw=); */
      border-radius: 8px;
      border-top:  3px solid navy;
      border-left: 3px solid navy;
      border-right: 7px solid navy;
      border-bottom: 10px solid navy;
      margin-top: 18px;
      padding: 8px;
      height: 360px;
}

.category-title {
      font-weight: bold;
      padding-top:  0px;
      padding-left: 0px;
      padding-bottom: 10px;
      width: 60%;
      background-color: navy;
      color: white;
      border-top-right-radius: 50px;

}

.question{
      background-color: navy;
      font-size: 18px;
      color: white;
      padding:  10px 5px 0px 5px;
      height: 155px;
}

.option-btns {
      background-color: navy;
}

.tallies {
      position: absolute;
      right: 120px;
      margin-top: -40px;
      margin-bottom:  30px;
     /* display: flex;
     flex-direction: row;
     align-items: flex-end; */
}

.score-box {
      display: flex;
      justify-content: right;
      margin-right: 130px;

}