@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@200&display=swap");

body {
      font-family: "Raleway", sans-serif;
}

button {
      width: 250px;
      background-color: royalblue;
      color: white;
      text-align: center;
      padding: 5px;
      border-radius: 8px;
}

.question-text {
      width: 500px;
}

