@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@200&display=swap");

body {
  margin: 0;
  background-color: #f4f9f7;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  align-items: center;
  padding-right: 100px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.nav-bar img {
  width: 300px;
}

a {
  padding: 40px;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #f7951f;
  text-decoration: none;
  font-weight: 900;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

.home-images {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}