
.player-score {
    font-size:  25px;
    font-weight: bold;
    color: navy;
    background-color: #f9b462;
    border:  10px solid navy;
    border-radius: 8px;
    margin-top: 25px;
    width:  300px;
   
}